<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel='stylesheet' href='fullcalendar/fullcalendar.css' /> -->
    <link rel="stylesheet" href="/css/styles.css" type = "text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel='stylesheet' href='/scripts/fullcalendar-3.10.0/fullcalendar.css'>
    <script src='/scripts/libs/jquery-3.3.1.min.js'></script>
    <script src='/scripts/libs/moment.min.js'></script>


    <script>
      $(document).ready(function(){
          // page is now ready, initialize the calendar...
          if ($('#calendar')){

            $('#calendar').fullCalendar({
              eventSources: [
                // your event source
                {
                  events: [ // put the array in the `events` property
                    {
                      title  : 'event1',
                      start  : '2019-01-03'
                    },
                    {
                      title  : 'event2',
                      start  : '2019-03-05',
                      end    : '2019-03-05'
                    },
                    {
                      title  : 'event3',
                      start  : '2019-01-09T12:30:00',
                    }
                  ],
                  color: 'black',     // an option!
                  textColor: 'yellow' // an option!
                }
              ]
            });
          }

      });

    </script>

    <title>NYU BUGS</title>


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NYU BUGS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="calendar">Calendar</a>
          <a class="nav-item nav-link" href="projects">Projects</a>
          <a class="nav-item nav-link" href="github.com">Github</a>
        </div>
      </div>
    </nav>

    {{{body}}}



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <footer id= "footer" class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Mozilla Affiliation</p>
        <p>Email</p>
        <p>Slack</p>
        <p>Newsletter</p>

      </div>
    </footer>



    <script src='/scripts/fullcalendar-3.10.0/fullcalendar.js'></script>

    </body>

</html>
