@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

.limitWidthBody{
  width: 70%;
  margin: auto;
}

.lead{
  clear:both;
  padding-left: 13%;
}

.secondaryPageTitle{
  margin-top: 6%;
}


/* About Page Styling */
.profilePageSect{
  margin-bottom: 15%;
}
.sectionTitle{
  margin-bottom: 5%;
}

.indivProfileRow{
  margin-bottom: 3%;
}

.aboutProfilePics{
  width: 170px;
  height: 170px;
  max-height: auto;
  border-radius: 50%;
}



nav{
  background-color: #A87CA0;
}

#indexHeader{
  float: left;
  font-family: 'Fredericka the Great', cursive;
  color: #A87CA0;
  font-size: 5em;
}
#footer {
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #A87CA0;
  margin-top: 15%;
}

.contactLinksFooter a{
  margin-right: 5%;
}


.secondaryJumbo{
  background-image: url("../img/morebugs.png");
  height: 40%;
  background-position: left;
  /* background-size: 8000px auto; */
}

.highlight{
  padding: 2%;
  background-color: #A87CA0;
}

#indexDescription{
  line-height: 1.7;
  font-size: 1.2em;
}



.indexSections{
  clear:both;
}
.indexLeaders{
  text-align: center;
}

.indexLeaders img{
  width: 80%;
  height: auto;
}

footer a:link{
  color: #302334;
}

.footer-btn{
  color: #5B3256 !important;
}
.index-btn{
  color: #5B3256 !important;
  float: right;
}
